DirectoryIndex public/index.php

RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !/(css|fonts|icon|include|js|assets)/

RewriteCond %{REQUEST_FILE_NAME} !-d
RewriteCond %{REQUEST_FILE_NAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,l]